= link_to board_path(board) class:"link" do
  .card
    .card_content
      .card-menu
        = image_tag 'card-menu.svg', class: 'header-avatar dropbtn'
      .card-title
        = board.name
      .card_description
        = board.description
      .card_author
        = image_tag board.user.avatar_image, class: "avatar"