.devise
  .title
    %h2 Sign in
  .form-box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .devise_field
        .box-email
          = f.label :Email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
      .devise_field
        .box-password
          = f.label :Password
          %br/
          = f.password_field :password, autocomplete: "current-password"
      .actions
        = f.submit "Submit"

